# Ignore node_modules directory
node_modules

# Ignore build output
build

# Ignore local environment files
.env
.env.development
.env.production

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp